<% if (n = notice).present? %><p class="alert alert-warning"><%= n %></p><% end %>
<h1>
  Artigos

  &nbsp; 
  <%= link_to new_article_path, class: 'btn btn-sm btn-default' do %>
    <i class="fa fa-plus"></i> Adicionar
  <% end %>
   <a class="btn btn-sm btn-default" href="<%= root_path %>"><i class="fa fa-home"></i> Home</a> 
   <a class="btn btn-sm btn-default"><i class="fa fa-count"></i> <span style="font-weight: bold;"> Contagem de visualizações: </span> <%= pluralize View.count, 'visualização', 'visualizações'%></a>
</h1>

<div id="articles">
  <% @articles.each do |article| %>
  <!-- <%= render article %> -->
    <div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- Exemplo de card -->
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="<%= article[:image]%>" class="img-fluid rounded-start" alt="Imagem do artigo">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= article[:title]%></h5>
              <p class="card-text"><%= truncate(article.content, length: 150, omission: '...')%></p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Autor: <%= article[:author]%></li>
                <li class="list-group-item">Categoria: <%= article[:category]%></li>
              </ul>
              <%= link_to edit_article_path(article), method: :edit, data: { confirm: 'Você tem certeza de que deseja remover este item?' }, class: 'btn btn-sm btn-primary' do %>    
              <i class="fa fa-edit"></i> Editar
              <% end %>
              <%= link_to article_path(article), method: :delete, data: { confirm: 'Você tem certeza de que deseja remover este item?' }, class: 'btn btn-sm btn-danger' do %>    
              <i class="fa fa-trash"></i> Remover
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>
<% end %>
</div>
