<h1><%= @articles.title %></h1>
<p>Autor: <%= @articles.author %></p>
<p>Categoria: <%= @articles.category %></p>
<p>__________________________________________</p>
<p><%= @articles.content %></p>
<a class="btn btn-primary" href="<%= root_path %>">Voltar</a>