
<% @article.each do |article| %>
 <div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- Exemplo de card -->
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="<%= article.image%>" class="img-fluid rounded-start" alt="Imagem do artigo">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= article.title%></h5>
              <p class="card-text"><%= truncate(article.content, length: 150, omission: '...')%></p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Autor: <%= article.author%></li>
                <li class="list-group-item"> Categoria: <%= article.category%></li>
              </ul>
              <%= link_to 'Leia mais', blog_article_path(article), class: 'btn btn-primary mt-3' %>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>
<% end %>



